<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ShoppingCart</title>
	<meta name="keywords" content="prezzie Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	


	<!-- custom-theme -->
	<!-- //custom-theme -->
	<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="~/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="~/css/owl.carousel.css" rel="stylesheet">


	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- banner -->
	<div class="banner_top" id="home">
		<div data-vide-bg="video/gift-packs">
			<div class="center-container">
				<div class="w3_agile_header">
					<div class="w3_agileits_logo">
						<h1><a href="index.html">prezzie<span>Life is a gift</span></a></h1>
					</div>
					<div class="w3_menu">
						<div class="agileits_w3layouts_banner_info">

							<form asp-controller="Home" asp-action="SearchProduct"  method="post">
								<input type="search" name="ProductName" placeholder="Search for products">
								<input type="submit" value="Search">
							</form>

							@*<form method="post" asp-controller="Home" asp-action="SearchProduct">
								<div class="input-group">
									<input type="text" name="productName" class="form-control"  placeholder="Search for products">
									<div type="submit" class="input-group-append bg-transparent text-primary">
										<span class="input-group-text bg-transparent text-primary "><i class="fa fa-search"></i></span>
										</div></div></form>*@

							
						</div>
						<div class="top-nav">
							<nav class="navbar navbar-default">
								<div class="container">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										Menu
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">														

										<li>@Html.ActionLink("Home","Index","Home", new{ @class="nav-link" })</li>
										<li>@Html.ActionLink("About","About","Home", new{ @class="nav-link" })</li>
										<li>@Html.ActionLink("Gallery","Gallery","Home", new{ @class="nav-link" })</li>
										<li>@Html.ActionLink("Contact","Contact","Home", new{ @class="nav-link" })</li>
										
										
										@if (User.Identity?.IsAuthenticated ?? false)
										{
											
											
											<li>@Html.ActionLink("Products","Index","Admin","Products", new{ @class="nav-link" })</li>
											<li>@Html.ActionLink("Log out","Logout","Account", new{ @class="nav-link" })</li>
											<li>@Html.ActionLink("Stripe Dashboard","StripeIndex","StripeDashboard", new{ @class="nav-link" })</li>

											
											
											
											@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
											{
											<li>@Html.ActionLink("Products","Index","Admin","Products", new{ @class="nav-link" })</li>
												@*<li><a asp-controller="Products" asp-action="Index" asp-area="Areas"><i class="lnr lnr-spell-check"></i> <span>Admin</span></a></li>*@
											}
										}
										else

										{
											<li>@Html.ActionLink("LogIn","Login","Account", new{ @class="nav-link" })</li>

											
										
											
										}

										
										<li>
											<a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop Now <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a class="hvr-bounce-to-bottom" asp-controller="Products" asp-action="Index" asp-route-categorySlug="">All Products</a></li>
												<li><a class="hvr-bounce-to-bottom" asp-controller="Products" asp-action="Index" asp-route-categorySlug="cakes">Cakes</a></li>
												<li><a class="hvr-bounce-to-bottom" asp-controller="Products" asp-action="Index" asp-route-categorySlug="flowers">Flowers</a></li>
												<li><a class="hvr-bounce-to-bottom" asp-controller="Products" asp-action="Index" asp-route-categorySlug="giftpacks">Gift Packs</a></li>
												
												
											</ul>
										</li>

										@if (User.Identity.IsAuthenticated)
										{
											<li class="nav-item">
												<a class="w3view-cart" asp-controller="Cart" asp-action="Index"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>

											</li>
										}

										
										
										
									</ul>
									<div class="clearfix"> </div>
								</div>
							</nav>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
				<!-- banner-text -->
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides callbacks callbacks1" id="slider4">
							<li>
								<div class="agileits-banner-info">
									<h4>Variety of gifts</h4>
									<h3>Just select your favourite gift</h3>
								</div>
							</li>
							<li>
								<div class="agileits-banner-info">
									<h4>smile & shine</h4>
									<h3>Making your event more colorful!</h3>
								</div>
							</li>
							<li>
								<div class="agileits-banner-info">
									<h4>Need a gift..?</h4>
									<h3>charming & unexpected surprise</h3>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!--banner Slider starts Here-->
				<div class="w3_agileits_social_media ">
					<ul class="social-icons3">
						<li class="agileinfo_share">Share On</li>
						<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->

	 
	
	
					<div>@RenderBody()</div>
           

	<!--footer-->
	<div class="footer_bottom section">
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>About Us</h5>
					<p>Our gift shop makes it easy to shop for gifts from anywhere. Get gifts for everyone on your list with the click of a mouse. We have a wide range of gift ideas for all occasions, whether you’re looking for gifts for men, gifts for women, or kids.</p>
					<div class="w3_agileits_social_media team_agile_w3l team footer">
						<ul class="social-icons3">

							<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="image-agileits">
						<img src="images/f1.jpg" alt="" class="img-r">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 w3-agile-grid mid-w3-add">
					<h5>Address</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+1 234 567 8901</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>
									Broome St, NY 10002, Canada.
									<span>Telephone : +00 111 222 3333</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 footer-right w3-agile-grid">
					<div class="agile_footer_grid">
						<h5>Latest News</h5>
						<ul class="agileits_w3layouts_footer_grid_list">
							<li>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<a href="https://www.whatajewel.com/blog/how-to-travel-like-a-pro/" data-toggle="modal" data-target="#myModal1">How to Travel Like a Pro</a>
							</li>
							<li>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<a href="https://www.whatajewel.com/blog/the-timeless-tale-of-pewter/" data-toggle="modal" data-target="#myModal1">‍ The Timeless Tale of Pewter</a>
							</li>
							<li>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<a href="https://www.whatajewel.com/blog/guide-to-finding-the-perfect-housewarming-gift/" data-toggle="modal" data-target="#myModal1">A Guide to Finding the Perfect Housewarming Gift</a>
							</li>
							<li>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<a href="https://www.whatajewel.com/blog/kitchen-gadgets/" data-toggle="modal" data-target="#myModal1">Unique Kitchen Gadgets That Every Home Chef Should Have</a>
							</li>
							<li>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<a href="https://www.whatajewel.com/blog/birthday-gift-ideas/" data-toggle="modal" data-target="#myModal1">Birthday Gift Ideas That Won’t Break The Bank </a>
							</li>
						</ul>
					</div>
					<h5>Stay in Touch</h5>
					<form action="mailto:Rizwana.ShaherBano@triosstudent.com?subject=Subscribe&cc=info@prizzie.com" method="post">
						<input type="email" name="Email" placeholder="Email Id" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<p>© 2017 Prezzie. All rights reserved </a></p>
		</div>
	</div>
	<!-- Modal1 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Prezzie</h4>
					<img src="images/f2.jpg" alt=" " class="img-responsive">
					<h5>Integer lorem ipsum dolor sit amet </h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!--//footer-->

     
	<script src="~/lib/jquery/dist/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<script src="~/js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- for-Clients -->
	<script src="~/js/owl.carousel.js"></script>
	<!-- requried-jsfiles-for owl -->
	<script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
	<!-- //requried-jsfiles-for owl -->
	<!-- video-bg -->
	<script src="~/js/jquery.vide.min.js"></script>
	<!-- //video-bg -->
	<!-- Nice scroll -->
	<script src="~/js/jquery.nicescroll.js"></script>
	<script src="~/js/scripts.js"></script>
	<!-- //Nice scroll -->
	<!-- for bootstrap working -->
	<script type="text/javascript" src="~/js/bootstrap-3.1.1.min.js"></script>
	<!-- //for bootstrap working -->
	.............

	
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
